.profile-container {
    width: 100%;
    display: flex;
}

.picture-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.about-section {
    margin-left: 25px;
}

h3 {
    margin-bottom: 0;
}

p {
    margin: 10px 0;
}