<div class="profile-container">
    <div class="picture-section">
        <img src="../../../assets/img/profile.jpg">
    </div>
    <div class="about-section">
        <h3>Hello everyone</h3>
        <p>My name is Gabriel Syphan. I'm a middle full stack developer and i really hope we can work together 👨‍💻.</p>

        <p>My main stack is backend, but i've a lot of frontend skills too and a little knowledge of Devops.</p>

        <p>I really like to work with Java using Quarkus and Springboot framework, using Angular in frontend.</p>

        <app-cards [itemsToButtons]="profiles"></app-cards>
    </div>
</div>