<div class="container">
    <div class="terminal-container">
        <div class="terminal-shadow">
            <div class="terminal-header">
                <div class="terminal-button red"></div>
                <div class="terminal-button yellow"></div>
                <div class="terminal-button green"></div>
            </div>
            <div class="terminal-body">
                <div *ngIf="!profile">
                    <h2>Welcome to SyphanHub</h2>
                    <p>Select below the option you are looking for</p>
                    <app-cards></app-cards>
                </div>
                <app-profile *ngIf="profile"></app-profile>
            </div>
        </div>
    </div>
</div>
